.detail {
    display: flex;
    padding: 4.5rem;
    background-color: var(--color-grey-light-3);
    border-bottom: var(--line);
}

.description {
    font-size: 1.4rem;
    background-color: var(--color-white);
    box-shadow: var(--shadow);
    padding: 3rem;
    flex: 0 0 60%;
    margin-right: 4.5rem;

}

.user-reviews {
    background-color: indigo;
    flex: 1;
}

.pragraph {}

.list {


    &__item {}
}

.recommend {


    &__count {}


    &__friends {}

    &__photo {}
}